.spinner {
	opacity: 1;
	transition: opacity linear 0.2s;
	position: relative;
	z-index: 100;
}

.spinner-padding {
	height: 100px;
	width: 100px;
}

.spinner::before {
	opacity: inherit;
	will-change: transform;
	content: "";
	position: absolute;
	height: 40px;
	width: 40px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	border: 3px solid VAR(--dark-grey);
	border-bottom-color: VAR(--main-blue-highlight);
	background-color: transparent;
	transform: translate3d(-50%, -50%, 0);
	animation: 1500ms linear infinite spinner;
}

@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%,-50%, 0) rotate(360deg);
	}
}

.fade-leave-to {
	opacity: 0;
}

.fade-leave-active {
	transition: opacity ease 300ms;
}

.visions-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}